*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.van-cell-group + .van-cell-group {
  margin-top: 10px;
}
.bank-logo {
  display: inline-block;
  background: url('~@/assets/imgs/bank_small_logo.png');
  vertical-align: middle;
  margin-top: -3px;
}
.hot-area {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
  }
}

.emp {
  color: red;
}

.bg-white {
  background-color: white;
  padding: 10px;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.m-cell {
  padding: 10px 15px;
}
